:root {
    --footer-gutter: 5px;
}

footer {
    background-color: #000;
    color: #737373;
    width: 100%;
    border-top: 8px solid #222;
}

.footer-content {
    font-size: 0.8rem;
    padding: 55px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--footer-gutter);
    margin: 0;
    padding: 0;
}

.footer-item {
    flex: 1 0 calc(25% - var(--footer-gutter));
    margin-bottom: 1em;
    flex-grow: 0;
}

@media screen and (max-width: 700px) {
    .footer-item {
        flex: 1 0 calc(100%/3 - var(--footer-gutter));
        max-width: calc(100%/3);
    }
}

.footer-prominent {
    font-size: 1rem;
    /* margin: 0 0 2rem; */
}

.footer-content a {
    color: inherit;
}

.footer-content a:hover,
.footer-content a:active {
    text-decoration: underline;
}