/* Reset default styles */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Set default font and color */
body {
    font-family: "Helvetica Neue", sans-serif;
    color: rgb(51, 51, 51);
}

/* Set base element styles */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #e50914;
}

.clip {
    width: 90%;
    margin: 1.5em auto;
    max-width: 900px;
}