/* Reset default styles */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Set default font and color */
body {
    font-family: "Helvetica Neue", sans-serif;
    color: rgb(51, 51, 51);
}

/* Set base element styles */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #e50914;
}

.clip {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

input[type=email] {
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    padding: 10px 10px 0;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

details summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
}
